ion-content{
    align-content: center;
}
ion-button{
    --padding-top:10px;
    --padding-bottom:10px;
    --border-radius: 0;
}

ion-list{
    margin-top:2em;
}

ion-grid{
    margin-top: 8em;
}


