<ion-content>
  <ion-grid fixed>
    <ion-row class="grid justify-items-center">
      <ion-col size="9">  
        <ion-img src="../assets/icon/favicon.png" alt="App Icon"></ion-img>
      </ion-col>
      <ion-col size="10">
      <ion-button class="mt-10" expand="full">
        Login with Google
      </ion-button>
    </ion-col>

      <ion-col size="10"><ion-label>By logging in you are agreeing to our terms and conditions.</ion-label></ion-col>
      <ion-col size="10" class="grid justify-items-end">
        <ion-button class="mt-6" fill="outline">
        Skip Login
       </ion-button></ion-col>
    </ion-row>
  </ion-grid>







</ion-content>