<!-- Inspire Page-->
<!-- Menu Content -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid slot="end" class="ion-no-margin">
      <ion-row>
        <ion-col size="6">
          <ion-button fill="clear">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
        <ion-col size="6">
          <ion-button fill="clear">
            <ion-icon name="notifications"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="inspireSegment">
      <ion-segment-button value="affirmations">
        <ion-label>Affirmations</ion-label>
      </ion-segment-button>
      <ion-segment-button value="quotes">
        <ion-label>Quotes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="inspireSegment == 'affirmations'">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="ion-text-center mb-4">
          <ion-label><h1>Affirmation</h1></ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>  
  </ion-content>
  
  <ion-content *ngIf="inspireSegment == 'quotes'">
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="12" class="ion-text-center mb-4">
            <ion-label><h1>Quotes</h1></ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
