<!-- Media Page-->
<!-- Menu Content -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid slot="end" class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-button fill="clear" class="ion-no-padding">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
        <ion-col size="6">
          <ion-button fill="clear">
            <ion-icon name="notifications"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Content specific to tab 1 -->
</ion-content>
