<!-- Me Page-->
<!-- Menu Content -->
<ion-header class="ion-no-border drop-shadow">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid class="ion-no-margin">
      <ion-title>Me</ion-title>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="ion-text-center mb-4">
          <h3>Welcome</h3>
          <ion-label class="username-Label">{{name}}</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-thumbnail>
            <img alt="flower3" src="..\assets\icon\Flower3.svg" />
          </ion-thumbnail>
        </ion-col>
        <ion-col size="10">
          <ion-label>
            Each day, I improve my life by becoming a better version myself!
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <ion-thumbnail>
            <img src="..\assets\icon\StartQuotes.svg" />
          </ion-thumbnail>
        </ion-col>
        <ion-col size="8">
          <ion-label>Life is what happens when you're busy making other plans.
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-thumbnail>
            <img src="..\assets\icon\EndQuotes.svg" />
          </ion-thumbnail>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin ion-text-end">
          <ion-label>John Lennon</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center" color="primary">My Journal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list size="12" *ngFor="let entry of journal | async">
        <ion-item (click)="openJournal(entry.id)">
          <ion-label>{{entry.title}}</ion-label>
          <ion-label align="end">{{entry.date|date:'shortDate'}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
