ion-avatar
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
    width: 80px;
}

ion-label
{
    font-size: larger;
    font-weight: 200;
}


